:root {
  --black: #282828;
  --black2: #1d2021;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --magenta: #d3869b;
  --cyan: #8ec07c;
  --white: #ebdbb2;
  --orange: #af3a03;
  --lightdark: #3c3836;
  --shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  height: 100vh;
  background: var(--black2);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 10px;
  margin: 0 auto;
}

.cover_image_container {
  width: 80%;
  box-shadow: rgba(211, 134, 155, 0.4) 5px 5px,
    rgba(211, 134, 155, 0.3) 10px 10px, rgba(211, 134, 155, 0.2) 15px 15px,
    rgba(211, 134, 155, 0.1) 20px 20px, rgba(211, 134, 155, 0.05) 25px 25px;
}
.cover_image_container > img {
  width: 100%;
}

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  column-gap: 15px;
}

/* style of urlBar */
#urlBar{
  padding: 10px 4px;
  width: 580px;
  background-color: var(--dark);
  color: var(--white);
  font-size: 1.1rem;
  outline: 0;
  border: none;
  margin-top: -25px;
  text-align: center;
}

.link-wrapper > a {
  text-decoration: none;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(131, 165, 152, 0.4) -5px 5px,
    rgba(131, 165, 152, 0.3) -10px 10px, rgba(131, 165, 152, 0.2) -15px 15px,
    rgba(131, 165, 152, 0.1) -20px 20px, rgba(131, 165, 152, 0.05) -25px 25px;
  transition: all 0.3s ease-in-out;
}

.link-wrapper > a:hover,
.link-wrapper > a:focus,
.link-wrapper > a:active {
  transform: translateY(5px);
}

.link-wrapper > a > i {
  font-size: 2.3rem;
}

.htb > i {
  color: var(--green);
}

.thm > i {
  color: var(--red);
}

.hacker1 > i {
  color: var(--yellow);
}

.github > i {
  color: var(--white);
}

.yt > i {
  color: var(--red);
}

.twitter > i {
  color: var(--blue);
}

.intigriti > i {
  color: var(--magenta);
}
.dashboard > i {
  color: var(--red);
}
.h101 > i {
  color: var(--cyan);
}
.jhaddix_blog {
  color: var(--yellow);
}
.vickie_blog {
  color: var(--green);
}
.exploit-db {
  color: var(--blue);
}
